/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Nov-2021, 18:35:52
    Author     : IsuraD
*/

.footer{
    width: 100%;
    background: #000032;
    display: block;  
}

.inner-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.footer-items h1{
    padding: 10px 0;
    font-size: 25px;
    color: rgb(253, 251, 251);
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-items p{
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}


.border{
    height: 2px;
    width: 40px;
    background: #ff9800;
}

.footer-items ul{
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.footer-items ul a{
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-items ul a:hover{
    color: #ff9800;
}

.footer-items ul li{
    margin: 10px 0;
    height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-items li i{
    margin-right: 20px;
}

.social-media{
    width: 100%;
    color: #fff;
    text-align: center;
}

.social-media a{
    text-decoration: none;
}

.social-media i{
    width: 40px;
    height: 40px;
    margin: 20px 5px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid gray;
    transition: 0.3s;
}

.social-media i:hover{
    background: grey;
}

.footer-bottom{
    padding: 10px;
    background: #030341;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 1085px) {
    .footer-items{
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .footer-items{
        width: 100%;
    }
}

