/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Dec-2021, 09:22:25
    Author     : IsuraD
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    min-height: 200vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    padding: 15px 40px;
    z-index: 100000;
    font-size: 15px;
}
header.sticky{
    padding: 7px 40px;
    background: #fff;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: rgb(10, 2, 2);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;  
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #d9d9db;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-family: Arial, Helvetica, sans-serif;
}

header ul li a:hover{
    color: #ff9800;
    transition: 0.3s;
}

header.sticky .logo,
header.sticky ul li a{
    color: #666466;

}

header.sticky ul li a:hover{
   color: #ff9800;
 
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 15px 16px;
    z-index: 1;
    font-size: 13px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }